<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smartwork.dal.mapper.MchInfoMapper">
  <resultMap id="BaseResultMap" type="org.smartwork.dal.entity.MchInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="req_key" jdbcType="VARCHAR" property="reqKey" />
    <result column="res_key" jdbcType="VARCHAR" property="resKey" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="reflect_points" jdbcType="BIGINT" property="reflectPoints" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, mch_id, name, type, req_key, 
    res_key, state,reflect_points,channel
  </sql>
</mapper>