<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smartwork.dal.mapper.TransOrderMapper">
  <resultMap id="BaseResultMap" type="org.smartwork.dal.entity.TransOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="trans_order_id" jdbcType="VARCHAR" property="transOrderId" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="mch_trans_no" jdbcType="VARCHAR" property="mchTransNo" />
    <result column="channel_id" jdbcType="VARCHAR" property="channelId" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="result" jdbcType="TINYINT" property="result" />
    <result column="client_ip" jdbcType="VARCHAR" property="clientIp" />
    <result column="device" jdbcType="VARCHAR" property="device" />
    <result column="remark_info" jdbcType="VARCHAR" property="remarkInfo" />
    <result column="channel_user" jdbcType="VARCHAR" property="channelUser" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="channel_mch_id" jdbcType="VARCHAR" property="channelMchId" />
    <result column="channel_order_no" jdbcType="VARCHAR" property="channelOrderNo" />
    <result column="channel_err_code" jdbcType="VARCHAR" property="channelErrCode" />
    <result column="channel_err_msg" jdbcType="VARCHAR" property="channelErrMsg" />
    <result column="extra" jdbcType="VARCHAR" property="extra" />
    <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl" />
    <result column="param1" jdbcType="VARCHAR" property="param1" />
    <result column="param2" jdbcType="VARCHAR" property="param2" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="trans_succ_time" jdbcType="TIMESTAMP" property="transSuccTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_by, create_time, update_by, update_time, trans_order_id, mch_id, mch_trans_no, 
    channel_id, amount, currency, status, result, client_ip, device, remark_info, channel_user, 
    user_name, channel_mch_id, channel_order_no, channel_err_code, channel_err_msg, extra, 
    notify_url, param1, param2, expire_time, trans_succ_time
  </sql>
</mapper>